

h1 {
    font-size: 54px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 32px;
}

h3 {
    text-align: center;
    font-size: 32px;
}
body {
  background-color: black;
  color: white;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 26px;
  text-align: center;
}

.main-title {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 40px;  
  text-align: center;
}

.h1-button {
  display: inline-block;
  max-width: fit-content;
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 3rem;
  font-weight: bold;
}

.h1-button:hover {
  background-color: #0d0d0d;
}rgb(131, 134, 137)


a {
    color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

header {
  background: #111;       
  padding: 20px 0;
}

footer {
  background: #111;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 90px;               
}


.nav-links {
  display: flex;
  justify-content: center;  
  gap: 120px;                
}

.nav-links a {
  color: white;             
  text-decoration: none;    
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;        
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bfff;           
}

.hero { background-image: url('https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg'); background-size: cover; background-position: center center; background-repeat: no-repeat;
height: 100vh; width: 100%; display: flex; 
flex-direction: column; justify-content: center; align-items: center;
 color: white; 
text-align: center; padding-top: 64px; }

.hero h1, .hero h2, .hero h3 { text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); margin: 10px 0; }